<%= form_for @student do |f| %>
  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name, required: true %>
  </div>
  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name, required: true %>
  </div>
  <div>
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>
  <div>
    <%= f.label :education %>
    <%= f.select :education, Student.educations.keys %>
  </div>

  <div>
    <%= f.submit %>
  </div>
  <% end %>
