<h1>Add a New Instructor</h1>

<%= form_for @instructor do |f| %>
  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name, required: true %>
  </div>
  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name, required: true %>
  </div>
  <div>
    <%= f.label :age %>
    <%= f.number_field :age, max: 150, min: 0 %>
  </div>

  <div>
    <%= f.label :salary %>
    <%= f.number_field :salary, min: 0 %>
  </div>


  <div>
    <%= f.label :education %>
    <%= f.select :education, Instructor.educations.keys %>
  </div>

  <div>
    <%= f.submit %>
  </div>
  <% end %>

